<h1>This is a game of rock/paper/scissors</h1>

<h2>In order to play the game you must select your two choices.</h2>

<h2>To do this you must select /match/ followed by you first and second choice

in the navigation bar above.</h2>

<h2>eg localhost:4567/match/rock/scissors will give you the result of the contest

between rock and scissors.</h2>

<h2>Enjoy the game!</h2>
